site_name: UniLink Docs
site_url: https://unilink-docs.pages.dev

# Pages
nav:
  - Home:
      - Overview: index.md
      - Tools Used: tools.md
      - Project Links: project-links.md
      - About Us: about.md
  - User Manual:
      - Student Guide:
          - Login: user-manual/student/login.md
          - Register: user-manual/student/register.md
          - Profile: user-manual/student/profile.md
          - University: user-manual/student/university.md
          - Department: user-manual/student/department.md
          - Course: user-manual/student/course.md
          - Forum: user-manual/student/forum.md
      - Faculty Manual:
          - Login: user-manual/faculty/login.md
          - Register: user-manual/faculty/register.md
          - Profile: user-manual/faculty/profile.md
          - University: user-manual/faculty/university.md
          - Department: user-manual/faculty/department.md
          - Course: user-manual/faculty/course.md
          - Forum: user-manual/faculty/forum.md
      - Admin Guide:
          - Login: user-manual/admin/login.md
          - Register: user-manual/admin/register.md
          - Profile: user-manual/admin/profile.md
          - University: user-manual/admin/university.md
          - Department: user-manual/admin/department.md
          - Course: user-manual/admin/course.md
          - Forum: user-manual/admin/forum.md
  - Installation:
      - Backend Setup Guide: installation/backend.md
      - Frontend Setup Guide: installation/frontend.md
  - Testing:
      - Test Cases: testing/backend.md
  - API Documentations:
      - User API: api/user.md
      - University API: api/university.md
      - Department API: api/department.md
      - Course API: api/course.md
      - Forum API: api/forum.md
  - Conclusion:
      - Future Plan: future.md

# Repository
repo_name: ehsan18t/unilink
repo_url: https://github.com/ehsan18t/unilink

# Footer
copyright: Copyright &copy; 2023 Team Showstopper

extra_css:
  - assets/stylesheets/dist/extra.css

# Theme
theme:
  icon:
    repo: fontawesome/brands/github
  name: material
  favicon: assets/images/logo.svg
  logo: assets/images/logo.svg
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - announce.dismiss
    # - content.action.edit
    # - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.prune
    - navigation.sections
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate

extra:
  generator: false # Hide made with MKDocs
  annotate:
    json: [.s2]
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/ehsan18t
    - icon: fontawesome/brands/discord
      link: https://discord.com
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com
    - icon: fontawesome/brands/twitter
      link: https://twitter.com
    - icon: fontawesome/brands/facebook
      link: https://facebook.com

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:materialx.emoji.to_svg
      emoji_index: !!python/name:materialx.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: false
      user: ehsan18t
      repo: unilink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.critic

plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - git-committers:
      repository: ehsan18t/unilink-docs
      branch: main
  - git-revision-date-localized:
      repository: ehsan18t/unilink-docs
      branch: main
