/* Apply text justification to all paragraphs */
justify {
  text-align: justify;
  display: flex;
  justify-content: center;
}

center {
  display: flex;
  justify-content: center;
  align-items: center;
}

gap-l {
  margin-left: 0.5rem;
}
